[Desktop Entry]
Version=2025.2.1
Type=Application
Name=WebStorm
Comment=Code Editor
Exec=/home/mohosh/Apps/WebStorm/bin/webstorm
Icon=webstorm
Terminal=false
Categories=Development;Application;
StartupNotify=true
StartupWMClass=jetbrains-webstorm

